@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-[#FAFAFA] text-black antialiased;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-feature-settings: "liga", "kern";
  }

  ::selection {
    @apply bg-[#FCD116] text-black;
  }
}

@layer utilities {
  .container-main {
    @apply max-w-[1600px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}